<div class="max-width-wrapper">
  <div class="full-width wrapper">
    <select name="operation" id="opertation" [formControl]="formControl">
      <option *ngFor="let operation of availableOperations" [value]="operation">
        {{ operation }}
      </option>
    </select>

    <ng-container *ngIf="isValueArgument">
      <div class="argument">(</div>
      <input type="text" [formControl]="argumentFormControl" />
      <div class="argument">)</div>
    </ng-container>

    <ng-container *ngIf="isEvaluationArgument">
      <div class="argument">(x =></div>
      <input
        class="evaluation"
        type="text"
        [formControl]="argumentFormControl"
      />
      <div class="argument">)</div>
    </ng-container>
  </div>
</div>
