<div class="max-width-wrapper">
  <div class="full-width wrapper">
    <select name="operation" id="opertation" [formControl]="formControl">
      <option *ngFor="let operation of availableOperations" [value]="operation">
        {{ operation }}
      </option>
    </select>

    <div *ngIf="isValueArgument" class="argument-wrapper">
      <div class="argument">(</div>
      <input type="text" [formControl]="argumentFormControl" />
      <div class="argument">)</div>
    </div>

    <div
      *ngIf="isEvaluationArgument || isProjectionArgument"
      class="argument-wrapper"
    >
      <div class="argument">(x =></div>
      <input
        class="evaluation"
        type="text"
        [formControl]="argumentFormControl"
      />
      <div class="argument">)</div>
    </div>
  </div>
</div>
