<main class="max-width-wrapper">
  <section class="box center-content">
    <rx-input-stream
      [diagram]="primaryInputDiagram"
      [numberOfTicks]="numberOfTick"
      (diagramUpdated)="primaryInputDiagramChanged($event)"
    ></rx-input-stream>
  </section>
  <section class="box center-content" *ngIf="hasSecondaryInputDiagram">
    <rx-input-stream
      [diagram]="secondaryInputDiagram!"
      [numberOfTicks]="numberOfTick"
      (diagramUpdated)="secondaryInputDiagramChanged($event)"
    ></rx-input-stream>
  </section>
  <section class="box center-content">
    <rx-add-additional-input-stream
      [secondaryDiagramEnabled]="hasSecondaryInputDiagram"
      (toggleSecondaryDiagram)="toggleSecondaryInputDiagram()"
    ></rx-add-additional-input-stream>
  </section>
  <section class="box center-content">
    <rx-operation
      [availableOperations]="operations"
      [operation]="selectedOperation"
      (operationSelected)="operationChanged($event)"
    ></rx-operation>
  </section>
  <section class="box center-content">
    <rx-output-stream
      [diagram]="outputDiagram"
      [numberOfTicks]="numberOfTick"
    ></rx-output-stream>
  </section>
</main>
