<div class="top"></div>
<h1>Know your marbles</h1>
<rx-input-stream
  [diagram]="inputDiagram"
  [numberOfTicks]="numberOfTick"
  (diagramUpdated)="primaryInputDiagramChanged($event)"
></rx-input-stream>
<rx-divider></rx-divider>
<rx-pipe-operator
  [availableOperations]="operations"
  [hueAdjust]="1.2"
  [diagram]="secondaryInputDiagram"
  [operation]="selectedOperation"
  [numberOfTicks]="numberOfTick"
  (operationSelected)="operationChanged($event)"
  (diagramChanged)="secondaryInputDiagramChanged($event)"
></rx-pipe-operator>
<rx-output-stream
  [hueAdjust]="1.4"
  [diagram]="outputDiagram"
  [numberOfTicks]="numberOfTick"
></rx-output-stream>
