<div class="top"></div>
<h1>Know your marbles</h1>
<rx-input-stream
  [diagram]="inputDiagram"
  [numberOfTicks]="numberOfTick"
  (diagramUpdated)="primaryInputDiagramChanged($event)"
></rx-input-stream>
<rx-divider></rx-divider>
<rx-pipe-operator
  *ngFor="let pipe of pipes; let i = index"
  [availableOperations]="operations"
  [argument]="pipe.argument"
  [hueAdjust]="1.2 + (i * 2) / 10"
  [diagram]="pipe.diagram"
  [operation]="pipe.operation"
  [numberOfTicks]="numberOfTick"
  [showRemove]="i > 0"
  (addClicked)="addPipe(i)"
  (removeClicked)="removePipe(i)"
  (argumentChanged)="argumentChanged($event, i)"
  (operationSelected)="operationChanged($event, i)"
  (diagramChanged)="pipeDiagramChanged($event, i)"
></rx-pipe-operator>
<rx-output-stream
  [hueAdjust]="1.2 + (pipes.length * 2) / 10"
  [diagram]="outputDiagram"
  [numberOfTicks]="numberOfTick"
></rx-output-stream>
