:host {
  width: 100%;
  display: grid;

  background-color: hsla(
    calc(var(--background-h) * (var(--hue-adjust))),
    var(--background-s),
    var(--background-l),
    var(--background-a)
  );
}

.void-marble {
  width: 2.5rem;
  height: 2.5rem;
}
