:host {
  width: 100%;
  display: grid;

  background-color: var(--blue);
}

.wrapper {
  position: relative;
  padding: 0.5rem 1rem;

  height: 8rem;

  border: dashed 3px black;
}

.void-marble {
  width: 2.5rem;
  height: 2.5rem;
}
