:host {
  width: 100%;
  display: grid;
  background-color: hsla(
    calc(var(--background-h) * (var(--hue-adjust) + 0.2)),
    var(--background-s),
    var(--background-l),
    var(--background-a)
  );
}

.wrapper {
  position: relative;
  height: 2rem;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

svg {
  height: 100%;
  width: 100%;
  position: absolute;
  fill: hsla(
    calc(var(--background-h) * (var(--hue-adjust))),
    var(--background-s),
    var(--background-l),
    var(--background-a)
  );
}
