:host {
  z-index: 2;
  display: grid;
  justify-items: center;
  align-items: center;
}

button {
  border: none;
  padding: 0;
  cursor: pointer;

  &:disabled {
    cursor: default;
  }
}

.marble {
  border-radius: 100%;
  background-color: hotpink;
  border: solid 1px black;
  height: 2.5rem;
  width: 2.5rem;
  color: white;
}

.empty-marble {
  border-radius: 100%;
  background-color: black;
  border: solid 1px black;
  height: 0.75rem;
  width: 0.75rem;
}

.terminal {
  background-color: black;
  height: 1.75rem;
  width: 0.2rem;
}
