:host {
  z-index: 2;
  display: grid;
  justify-items: center;
  align-items: center;
}

button {
  border: none;
  padding: 0;
  cursor: pointer;

  &:disabled {
    cursor: default;
  }
  position: relative;
  height: 2.5rem;
  width: 2.5rem;
  background-color: inherit;
}

.marble {
  border-radius: 100%;
  background-color: hotpink;
  height: 2.5rem;
  width: 2.5rem;
  color: white;
}

.empty-marble {
  border-radius: 100%;
  background-color: black;
  border: solid 1px black;
  height: 0.5rem;
  width: 0.5rem;
  margin-top: 0.25rem;
}

.terminal {
  background-color: black;
  height: 3.75rem;
  width: 0.2rem;
  position: absolute;
  top: -25%;
  left: calc(50% - 0.1rem);
  z-index: -1;
}
