:host {
  z-index: 2;
  display: grid;
  justify-items: center;
  align-items: center;
}

.marble {
  border-radius: 100%;
  background-color: hotpink;
  border: solid 1px black;
  height: 2.5rem;
  width: 2.5rem;

  input {
    border-radius: 100%;
    background-color: hotpink;
    height: 100%;
    width: 100%;
  }
}

.empty-marble {
  border-radius: 100%;
  background-color: black;
  border: solid 1px black;
  height: 0.75rem;
  width: 0.75rem;

  padding: 0.2rem;

  cursor: pointer;
}
